button,
a {
    outline: none;
}

.hr-dashed {
    border-top: 1px dashed #e7eaec;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 20px 0;
}

.hr-fancy {
    display: block;
    height: 8px;
    background: url(../img/hr.png) repeat-x;
    margin: 15px 0;
    border: 0;
}

path {
    /* Inherit color from svg parent */
    fill: currentColor;
}

.center {
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.custom-select {
    box-shadow: none;
}

/* Select 2 Style */
.select2-container--bootstrap4 .select2-selection--multiple {
    padding: 2px;
}

.select2-container--bootstrap4 .select2-selection--single {
    height: calc(2rem + 2px) !important;
}

.select2-container--bootstrap4
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 2rem;
}

.select2-container--bootstrap4.select2-container--focus .select2-selection {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.event > p {
    margin: 0 !important;
}

.card-footer > nav > ul {
    margin-bottom: 0;
}

/* Remove select outline */
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
select {
    background: transparent;
}

/* The contenet background */
.content-wrapper {
    background: #f9f9f9;
}

/* .card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e2e8ee;
    border-radius: 0px;
    box-shadow: none;
} */

.card-header,
.card-footer {
    display: flex;
    background-color: #fafafa;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.maintenance-image {
    width: 240px;
    margin: 0 auto 50px;
}

.card-header .pagination {
    margin: 0;
    padding: 0;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.user-tag {
    text-transform: uppercase;
    font-size: 12px;
    padding: 0.25rem 0.5rem;
    font-weight: 700;
    line-height: 1;
    display: inline-block;
}

@media print {
    body {
        font-family: "Times New Roman", Georgia, Times, serif !important;
    }
    .text-sm {
        font-size: 12pt !important;
    }
    .print {
        display: block !important;
    }
    .hide-print,
    .btn {
        display: none;
    }
    @page {
        margin: 1cm;
    }
    @page: top {
        margin: 2cm;
    }
    .card {
        border: 1px solid #aaa;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }
    .content-wrapper {
        background: white;
    }
    .content-header {
        margin: 20px auto;
        display: block !important;
        text-align: center;
    }

    a {
        text-decoration: none !important;
        color: black !important;
    }
    .card-header,
    .main-footer {
        display: none;
    }

    .badge {
        color: #222;
        background-color: #ddd;
        border: none;
    }
}

.print {
    display: none;
}

/* Change the sidebar color */
[class*="sidebar-dark-"] {
    background-color: #283e4a;
}
[class*="sidebar-dark-"] .sidebar a {
    color: #c7d1d8;
}
